@use "../utils/variables" as *;
@use "../utils/mixins" as *;


.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 582px;
  max-height: 52px;
  transition: max-height 2s ease-in-out 0.5s;
  @include mobile {
    width: 100%;
    max-height: 30px;
  }

  &.open {
    max-height: 500px;
    @include mobile {
      width: 100%;
    }
  }

  &__text {
    position: relative;
    top: -10px;
    border-radius: 10px;
    z-index: -1;
    background-color: $background-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    p, ul {
      width: 100%;
      padding: 50px 20px;
      list-style-type: none;
      @include typo_collapse;
      @include mobile {
        padding: 20px 10px 0 10px;
      }
    }
  }

  &__close {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    @include mobile {
      height: 30px;
    }

    h3 {
      font-weight: 500;
      font-size: 18px;
      color: $color-secondary;
      background-color: $color-primary;
      @include mobile {
        font-size: 13px;
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 2s ease-in-out 0.5s;
    @include mobile {
      img {
        width: 16px;
      }
    }
    &.open {
      transform: rotate(180deg);
    }
  }
}
