footer{
    /* D_Footer */
position: relative;
width: 1440px;
height: 209px;
top: 4333px;
// left: -543px;
padding: 66px 464px 29px 463px;
gap: 0px;
opacity: 0px;
background: #000000;
color: white;
}
