@use "../utils/variables" as *;
@use "../utils/mixins" as *;
footer {
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 66px 464px 29px 463px;
  background: #000000;
  @include mobile {
    padding: 0;
  }

  img {
    width: 122px;
    height: 39.44px;
    top: 66px;
    left: 659px;
  }

  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 513px;
    height: 46px;
    color: #ffffff;
  }
}
