@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  @include mobile {
    margin-bottom: 20px;
  }
  
  img{
    @include mobile {
      width: 145px;
      height: 47px;
    }
  }

  &__navbar {
    /* _Nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 309px;
    @include mobile {
      width: 140px;
    }
  
  }

  &__link {
    @include navlink;

    @include mobile {
      font-size: 12px;
    }
  }
  &__accueil {
    /* Accueil */
    width: 136px;
    height: 34px;
    text-align: right;
    @include mobile {
      width: 59px;
      height: 17px;
    }
  }
  &__a_propos {
    /* A Propos */
    width: 116px;
    height: 34px;
    @include mobile {
      width: 71px;
      height: 17px;
    }

    // /* or 34px */
    // display: flex;
    // align-items: flex-end;
    // text-align: right;
  }
}
