@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;

  &__navbar {
    /* _Nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 309px;
  
  }

  &__link {
    color: $color-primary;
    @include navlink;
  }
  &__accueil {
    /* Accueil */
    width: 136px;
    height: 34px;
    text-align: right;

    // /* or 34px */
    // display: flex;
    // align-items: flex-end;
    // text-align: right;
    // text-decoration-line: underline;
  }
  &__a_propos {
    /* A Propos */
    width: 116px;
    height: 34px;

    // /* or 34px */
    // display: flex;
    // align-items: flex-end;
    // text-align: right;
  }
}
