@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.house {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include mobile {
    gap: 10px;
  }
}

.house-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include mobile {
    gap: $gap20;
  }
  &__title-aside {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      gap: $gap20;
    }
  }
  &__title-tags {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include mobile {
      gap: $gap20;
    }
  }
  &__title {
    h2 {
      margin: 0;
      color: $color-primary;
      font-size: 36px;
      font-weight: 500;
      line-height: 143%;
      text-align: left;
      @include mobile {
        font-size: 18px;
      }
    }
    h3 {
      height: 26px;
      margin: 0;
      text-align: left;
      color: $color-primary;
      @include typo_house;
      @include mobile {
        font-size: 14px;
      }
    }
  }
  &__tags {
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-wrap: wrap;
    }
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-radius: 10px;
      margin-right: 10px;
      padding: 5px;
      color: $color-secondary;
      background-color: $color-primary;
      @include mobile {
        height: 18px;
      }
      span {
        display: block;
        margin: 0 30px;
        @include mobile {
          font-size: 10px;
          margin: 0 10px;
        }
      }
    }
  }
  &__collapse {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include mobile {
      flex-direction: column;
    }
  }
}

.house-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 196px;
  @include mobile {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile {
      width: 135px;
      margin-bottom: 0;
      justify-content: right;
    }
    p {
      margin: 0 0 0 40px;
      text-align: right;
      color: $color-primary;
      @include typo_house;
      @include mobile {
        font-size: 12px;
        line-height: 143%;
        margin-right: 10px;
      }
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      @include mobile {
        width: 32px;
        height: 32px;
      }
    }
  }
}
