@use "../utils/variables" as *;

.house {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__title {
    height: 77px;
    h2 {
      height: 51px;
      margin: 0;
      color: $color-primary;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 500;
      line-height: 51.34px;
      text-align: left;
    }
    h3 {
      height: 26px;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      text-align: left;
      /* identical to box height, or 26px */
      color: $color-primary;
    }
  }
}

.house-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__tags {
    display: flex;
    flex-direction: row;
    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-radius: 10px;
      margin: 0 10px 10px 0;
      padding: 5px;
      color: $color-secondary;
      background-color: $color-primary;
      span {
        display: block;
        margin: 0 30px;
      }
    }
  }
  &__collapse {
    display: flex;
    justify-content: space-between;
  }
}

.house-aside {
  display: flex;
  flex-direction: column;
  width: 196px;
  position: absolute;
  top: 735px;
  right: 150px;
  
  &__host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
    p {
      margin: 0;
      text-align: right;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      color: $color-primary;
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
}
