@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.house-rating{
  display: flex;
  justify-content: right;
    img {
      @include mobile {
        width: 18px;
        height: 18px;
      }
    }
}