@use "../utils/variables" as *;

.logo {
  /* .LOGO */
  position: relative;
  display: flex;
  width: 210.32px;
  height: 68px;
  color: $color-primary;

  &__kcontainer {
    position: absolute;
    top: 0;
    width: 54.33px;
    height: 62.26px;
    font-weight: normal;
    font-size: 62.26px;
  }
  &__grouphouse {
    /* Group */
    width: 46.04px;
    height: 53.36px;
    top: 14.64px;
    left: 60.22px;
    gap: 0px;
    opacity: 0px;

    &--house-icon {
      position: absolute;
      width: 46.04px;
      height: 53.36px;
      top: 14.64px;
      left: 60.22px;
    }
    &--door-icon {
     /* Vector */
     position: absolute;
     width: 5.34px;
     height: 15.75px;
     top: 46.69px;
     left: 91.53px;
     transform: translateX(-50%);
    }
  }

  &__sacontainer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &--text {
      font-weight: normal;
      font-size: 62.26px;
    }
  }
}
