@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px 0 100px;

  &__text {
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
    color: $color-primary;
    margin-bottom: 300px;
  }

  &__link {
    @include navlink;
    text-decoration: underline;
  }
}
