@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.main-container {
  @include flex_column;
  gap: 200px;
  @include mobile {
    gap: 50px;
  }
}

.banner__text {
  position: absolute;
  z-index: 1;
  width: 705px;
  height: 68px;
  @include mobile {
    width: 217px;
    height: 48px;
    margin-left: 36px;
  }
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
  color: $color-secondary;
  @include mobile {
    font-size: 24px;
    line-height: 100%;
  }
}
