@use "sass:map";
@use "../utils/variables" as *;

@mixin navlink {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  text-decoration: none;
  color: $color-primary;
  &:hover {
    text-decoration: underline;
  }
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin bannertitle {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: $color-secondary;
}

@mixin typo_house {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}
@mixin typo_collapse {
  font-size: 24px;
  font-weight: 400;
  line-height: 25.67px;
  color: $color-primary;
  @include mobile {
    font-size: 13px;
    line-height: 143%;
  }
}

@mixin mobile {
  @media all and (max-width: map.get($breakpoints, "mobile")) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: map.get($breakpoints, "desktop")) {
    @content;
  }
}
