* 
{
    box-sizing: border-box;
}

 body{
/* D_Home */
display: flex;
flex-direction: column;
font-family: Montserrat, sans-serif;
position: relative;
width: 1440px;
height: 1024px;
background: #FFFFFF;

 }
 