@use "../utils/mixins" as *; 

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 50px auto 100px;
  padding: 0 20px;
   @include mobile {
    width: 100%;
    margin: 20px auto 45px;
   }
}
