@use "../utils/mixins" as *; 

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin: 40px auto 150px;
   @include mobile {
    width: 100%;
    margin: 20px auto 45px;
    padding: 0 10px;
   }
}
